
html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #333333;
    width: 100%;
    overflow: hidden;
}

/*!* Navbar container *!*/
.container {
    width: inherit;
    padding-right: 0;
    padding-left: 0;
}

/* Navbar */
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
    background-color: #333333;
    height: 75px;
    font-size: 18px;
}

/* Navbar title/brand */
.navbar-inverse .navbar-brand {
    color: #32cd32;
    font-size: 56px;
    font-weight: bolder;
    text-shadow: 5px 6px 6px rgb(0, 0, 0);
    margin-top: 12px;
}

.navbar-inverse .navbar-brand:hover {
    color: #f7f7f7;
}
.navbar-inverse .navbar-brand:focus {
    color: #32cd32;
    background-color: transparent;
}

/* Collapsed navbar */
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: rgba(51, 51, 51, 0.7);
}

/* Override float */
@media (min-width: 768px) {
    .navbar-right {
        float: none !important;
    }
}

/* Navbar buttons */
.navbar-inverse .navbar-nav>li>a {
    background-color: transparent;
    color: #f7f7f7;
    font-size: 22px;
    font-weight: bold;
    border-left: 2px solid #32cd32;
    margin-left: 50px;
    padding-left: 75px;
    margin-top: 12px;
}

/* Navbar options turn on hover and stay green on select */
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #32cd32;
}


/* CAROUSEL */

.carousel,
.item,
.active {
    width:100%;
}

.carousel-inner {
    width:100%;
    height: 700px;
}

/* Slide text background box */
.carousel-caption {
    top: 250px;
    bottom: auto;
    background: rgba(51, 51, 51, 0.9);
    max-width: 800px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Header for each slide */
.carousel-caption h1 {
    line-height: 1.25;
    max-width: 800px;
    color: #32cd32;
    font-weight: bolder;
    margin: auto;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .7);
}

/* Text for each slide */
.carousel-caption .lead {
    line-height: 1.25;
    max-width: 720px;
    color: #d9d9d9;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
    margin: 5px auto;
}

/* Buttons for slides */
.btn, .btn-lg, .btn-primary {
    padding: 14px 24px;
    margin-top: 15px;
    border: 2px solid #32cd32;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .7);
    border-radius: 8px;
    background: transparent;
    color: #32cd32;
}

/* hover/active buttons */
.btn-primary:active, .btn-primary.active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn:focus, .btn:active:focus, .btn.active:focus {
    box-shadow: 2px 2px 2px 2px #32cd32;
    background: transparent;
    border: 2px solid #32cd32;
    color: #32cd32;
}

/* divider above circle images */
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #32cd32;
}

/* Circle images*/

.row {
    width: 100%;
    position: absolute;
    height: 200px;

}
.img-circle {
    margin-top: 0;
    width: 125px;
    height: 125px;
}

/* Float circle images */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-12px);
    transform: translateY(-20px);
    box-shadow: 10px 10px 5px #32cd32;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
    background-color: #333333;
}

/* text below circle images */
h2, .h2 {
    font-size: 30px;
    color: #f7f7f7;
    font-weight: bold;
}


/* TODO: create pages and customize */

/* Phyto page */
.phyto {
    margin-top: 150px;
    margin-bottom: 250px;
    height: 700px;
    background-color: #333333;
    color: #f7f7f7;
    font-size: 24px;
    width: 100%;
    overflow: auto;
}

.phyto::-webkit-scrollbar {
    display: none;
}

.whitespace {
    height: 150px;
    background-color: #333333;
}

.featurette {
    height: 700px;
}

.featurette-image.pull-right {
    margin-right: 50px;
    margin-top: 75px;
    margin-left: 20px;
}
.featurette-heading {
    color: #32cd32;
    font-size: 40px;
    margin-left: 20px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .7);
    font-weight: bolder;
}

.featurette-divider {
    margin-left: 25px;
    margin-right: 25px;
}

.featurette-divider.inner {
    margin-left: 75px;
    margin-right: 75px;
}

.phytotext {
    margin-right: 33%;
    margin-left: 20px;
    margin-bottom: 50px;
}

.phytotext.two {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.featurette.question {
    height: 50px;
    width: 1600px;
    margin: 100px auto;
    z-index: 1;
}

.featurette.question p {
    color: #f7f7f7;
    font-size: 40px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .7);
    font-weight: bolder;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /*margin-top: 40px;*/
    /*margin-botom: 40px;*/
}

/* About page */
.about {
    height: 700px;
    background-color: blue;
}

/* Flavonoid page */
.flav {
    height: 700px;
    background-color: red;
}

/* Isoflavone page */
.iso {
    height: 700px;
    background-color: yellow;
}

/* Proanthocyanidin page */
.pro {
    height: 700px;
    background-color: purple;
}

.login {
    height: 700px;
    background-color: white;
}

#username {
    width: 300px;
    margin: 5px 50px;
}

#password {
    width: 300px;
    margin: 5px 50px;
}


/* Database page JUMBOTRON */

/* General jumbotron background properties */
.jumbotron {
    height: 700px;
    position: relative;
    width: 100%;
    align-content: center;
    z-index: 1;
    margin-bottom: 0;
}

/* Log in page background image */
.jumbotron.login {
    background: url('../images/plant.jpg') no-repeat center center;
}

/* Recipe page background image */
.jumbotron.recipe {
    background: url('../images/smoothie.jpg') no-repeat center center;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #f7f7f7;
    display: inline-block;
}

.jumboContainer {
    color: #32cd32;
    text-shadow: #32cd32;
    height: 350px;
    width: 900px;
    background: rgba(51, 51, 51, 0.92);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative;
    text-align: center;
    overflow: auto;
    font-size: 32px;
}

.jumboContainer h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bolder;
    text-shadow: 0 3px 3px rgb(0, 0, 0);
}

.txtUrl {
    height: 50px;
    width: 800px;
    margin: 25px 50px;
    border-radius: 15px;
    z-index: 0;
    font-size: 24px;
    text-align: center;
}

/* RESPONSE HEADER AND TABLE */

.jumboContainer h2 {
    color: #f7f7f7;
    font-weight: bolder;
    text-align: center;
}

.resultstable tbody {
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    width: 800px;
    height: 500px;
    color: #32cd32;
    overflow: auto;
}

.resultstable th {
    font-size: 22px;
    text-align: center;
    width: 160px;
}

.resultstable tbody tr > td > a {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 5px 5px;
    min-width: 100px;
    color: #32cd32;
}

#lowerbody {
    height: 200px;
    background-color: #333333;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer {
    position: fixed;
    margin-top: 200px;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #333333;
}