<div class="jumbotron login">
    <div class="jumboContainer">
        <h1>Please enter your user name and password</h1>
        <p>Username:</p>
        <input class="txtUrl" id="username" type="text" value="...." onfocus="if(this.value == '....') { this.value = ''; }"><br>
        <p>Password:</p>
        <input class="txtUrl" id="password" type="text" value="...." onfocus="if(this.value == '....') { this.value = ''; }"><br>
        <p><a class="btn btn-primary btn-lg" href="#" onclick="getURL()" role="button">Sign in!</a></p>
    </div>
</div>