<!-- START THE FEATURETTES -->
<div class="phyto">
    <div class="featurette why">
        <img class="featurette-image pull-right" src="../images/fishoil.jpg" alt="Why PhytoHealth?">
        <h2 class="featurette-heading">Why PhytoHealth?<span class="muted"></span></h2>
        <div class="phytotext">
            <p>
                <br>&emsp;&emsp;The idea behind PhytoHealth was inspired by a very real issue within our society on a
                global scale, and especially in the United States: the anti-science movement. From the ridiculous and
                inaccurately based anti-vaccine groups, to the entirely too common stance on being against genetically
                modified food, skepticism within society is at an all time high. But who will win this intense intellectual
                and nutritional health battle and be a part of history in a positive way?
            </p>
            <p>
                <br>&emsp;&emsp;It's very popular for many "food and wellness celebrities" to capitalize on this
                aforementioned skepticism. They make wild nutritional health claims, saying certain foods or products
                will cure cancer, "detox you" (hint: your liver and kidneys do that), or fix any ailment under the sun.
                Most of the time, these claims are NOT based on scientific fact, but instead are either misinterpreted
                due to lack of understanding, or often simply made up.
            </p>
        </div>
    </div>
    <hr class="featurette-divider inner">
    <div class="featurette question">
        <p>
            Why would someone make up nutritional health claims? <em>Isn't that dangerous?</em>
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="phytotext two">
        <p>
            <br>Yes, actually, it is. By spreading fear and misinformation, these people scare the public into buying
            into dangerous ideas, which causes some to unsuccessfully turn to alternative medicine instead of safe and
            proven methods to try and cure things such as cancer "naturally". Other myths include organic food being
            healthier, or that GMOs are unsafe.
        </p>
        <p>
            <br>That's not the only thing Americans are falsely buying into, however. Almost 100% of the time, these
            alleged "experts" are selling an alternative, and often expensive, health or wellness product in order to
            line their own pockets with cash by stealing from yours.
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="featurette question">
        <p>
            That's pretty awful. How can I avoid scientific misinformation and being scammed?
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="phytotext two">
        <p>
            <br>Excellent question! I'm sure you're tired of seeing 100 different posts on Facebook telling you what to
            eat or why it is good for you. Who can you really trust? Do you really have to read a hundred scientific
            articles before you cook your own dinner or pack your child's school lunch?
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="featurette question">
        <p>
            That's where we come in.
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="phytotext two">
        <p>
            <br>Here at PhytoHealth, we've done the work for you. Our team of researchers and pro-science advocates have
            put together a repository of scientifically-accurate information connecting the food you eat, to the very
            health issues we deal with in our society on a daily basis.
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="featurette question">
        <p>
            But where does this information come from?
        </p>
    </div>
    <hr class="featurette-divider inner">
    <div class="phytotext two">
        <p>
            <br>Our research comes straight from the most respected and well known scientific journals around the world,
            and we have put them at your fingertips. Search diseases, illnesses, and nutritional deficiencies and get
            back endless information that adds real science behind the ingredients you put in your body, for better or worse.
            <br>
            <br>
        </p>
        <p><a class="btn btn-lg btn-primary" href="#/database" role="button">Get started!</a></p>
    </div>
    <div class="whitespace"></div>
    <hr class="featurette-divider inner">
</div>
