<footer>
    <div class="container marketing" id="lowerbody">
        <hr class="featurette-divider">
        <div class="row" align="center">
            <div class="col-lg-4">
                <img class="img-circle hvr-float" onclick="goToFlav()"src="../images/bbCirc.jpg" alt="Generic placeholder image">
                <h2>Flavonoids</h2>
            </div>
            <div class="col-lg-4">
                <img class="img-circle hvr-float" onclick="goToIso()" src="../images/soyCirc.jpg" alt="Generic placeholder image">
                <h2>Isoflavones</h2>
            </div>
            <div class="col-lg-4">
                <img class="img-circle hvr-float" onclick="goToPro()" src="../images/cbCirc.jpg" alt="Generic placeholder image">
                <h2>Proanthocyanidins</h2>
            </div>
        </div>
    </div>
</footer>